<script type="text/ejs" id="sapmleEjs">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>得点</th>
				<th>ユーザ名</th>
			</tr>
		</thead>
		<tbody>
			[% for (var i=0, len=list.length; i<len; i++) {
				var row = list[i];
			%]
			<tr id="[%= name %]_[%= row.userId %]">
				<td>[%= row.marks %]</td>
				<td>[%= row.userName %]</td>
			</tr>
			[% } %]
		</tbody>
	</table>
</script>